<?xml version="1.0" encoding="utf-8"?>
<!--
Ten plik jest wykorzystywany przez proces publikowania/pakowania projektu internetowego. Możesz dostosować zachowanie tego procesu
 poprzez edycję tego pliku MSBuild. Aby dowiedzieć się więcej o tym działaniu, odwiedź stronę https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/3e5582df-de51-4be1-8a16-39f985c5e9a1/resourceGroups/home-service/providers/Microsoft.Web/sites/HomeServiceApi</ResourceId>
    <ResourceGroup>home-service</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://homeserviceapi-angeg8f8gqebh8b3.polandcentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>cbfa08ea-aece-205f-7b85-326fd0b81bad</ProjectGuid>
    <MSDeployServiceURL>homeserviceapi-angeg8f8gqebh8b3.scm.polandcentral-01.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>HomeServiceApi</DeployIisAppPath>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>REDACTED</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>net8.0</TargetFramework>
    <SelfContained>false</SelfContained>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <EncryptedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAANGVaBszUuUOrocXErNLTxwAAAAACAAAAAAAQZgAAAAEAACAAAACARvd69oqERraXtJ7oKgjlt8Yf43GNrAHQL0mK5RGx9wAAAAAOgAAAAAIAACAAAAC7NQ/huPP5rQDkvjiCTXaraLVlMokz+udoFEU7QMOUHSAAAACTWRYvmsE1tsPLBmiL3bxlME9Ip0vZ6SIg3fa/APDsTEAAAAD7ExPZ01wGUIO+FbO9VnXtPZuMTjxzJMc7vi3QfWLYl+3fHtCEMuOvcEJpR7nZKsDylcEgNeOtTpwpDGxpTcha</EncryptedPassword>
    <History>False|2025-04-13T06:42:32.9895544Z;False|2025-04-13T08:41:48.3400566+02:00;</History>
    <EnvironmentSubType>AppServicePublishProfileVisual</EnvironmentSubType>
    <_PublishBasicAuthDisabled>true</_PublishBasicAuthDisabled>
  </PropertyGroup>
</Project>